@import 'bourbon';
@import 'vars.scss';
@import 'mixins.scss';

.plusMinus {
    margin: 1rem 0 1rem;
    height: 2rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.buttonPlusMinus {
    min-width: 2rem;
    margin-left: 8px;
    padding: 0;
    height: 2rem;
}

.currentHealth {
    margin: 0;
}