@import 'bourbon';
@import 'vars.scss';



@mixin button{
    min-width: 10rem;
    margin: 0 .75rem;
    padding: .75rem 0;
    text-decoration: none;
    background-color:white;
    color: black;
    text-align: center;
    text-transform: uppercase;    
    border-radius: 2px;
    margin-bottom: 1rem;
    border: none;
    font-size: .75rem;              
}

@mixin buttonHover{

    background-color:red;
    color: white;
    border:none;
}


@mixin placeholders {
    /* ---center placeholder text--- */
    .playerForm ::-webkit-input-placeholder {
    text-align: center;
  }
  
  .playerForm :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
  }
  
  .playerForm ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
  }
  
  .playerForm :-ms-input-placeholder {  
    text-align: center; 
  }
  
}