$red: #e00813;
$background: black;

/* ---Screen Sizes Media Queries--- */
$mobile: 320px;
$tablet: 768px;
$tabPro: 1024px;

/* ---Typography--- */


/* Fonts */
$disFont: 'Metamorphous', cursive;
$sans: 'Hind Madurai', sans-serif;
$serif: 'Lora', serif; 

/*Font Weight */
$light: 300;
$reg: 400;
$med: 500;
$bold: 700;
$black: 900;